<center>
  <h1> <%= @course.title %> </h1>

  <h3>
    <% if @course.day_night == true %>
      <%= 'Day' %>
    <% else %>
      <%= 'Night' %>
    <% end %>
  </h3>

</center>

<%= link_to 'back', courses_path %>
<%= link_to 'edit', edit_course_path(@course) %>
<%= link_to 'delete', @course, method: :delete %>
